html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

nav {
    background-color: #eeeeee;
    font-family: 'Nanum Gothic', sans-serif;
    height: 140px;
}

.name-logo {
    height: 150px;
    width: 190px;
}

.top-menu {
    margin-top: 40px;
}

.material-icons {
    color: #000000;
}

.top-img {
    width: 100%;
    position: relative;
    margin-bottom: 5rem;
}

.tag-line1 {
    margin-top: 5rem;
    font-size: 35px;
    font-family: 'Nanum Gothic', sans-serif;
}

.tag-line2 {
    margin-bottom: 3rem;
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #995c41;
}

.about-me-container {
    padding: 20px;
    margin-top: 5rem;
    margin-bottom: 6rem;
    background-color: #161A23;
}

.my-photo {
    width: 425px;
    height: 640px;
    border: solid 4px #995c41;
}

#aboutme {
    margin-top: 8rem;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
}

.aboutme-text {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: 'Nanum Gothic', sans-serif;
}

.focus {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-size: 30px;
}
.front-end {
    font-size: 23px;
    text-align: center;
}

.tech {
    font-size: 20px;
    text-align: center;
}

.skill-icon {
    font-size: 26px;
    text-align: center;
}

.code-text {
    font-size: 16px;
}

.code-text-about {
    font-size: 16px;
    margin-top: 8rem;
}

#resume-btn {
    font-size: 16px;
    /* margin: 0 auto;
    display: block; */
    border-radius: 3px;
    border: solid 2px;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    width: 10rem;
}

.resume-container {
    margin-bottom: 6rem;
}

.projects {
    margin-top: 9rem;
    margin-bottom: 5px;
    font-size: 30px;
}

.website-display {
    width: 440px;
    height: 400px;
    margin: 0 auto;
    display: block;
}

.links {
    text-align: center;
    color: #000000;
    font-size: 16px;
}

/* text overlay on app photos */
.website-img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.photo-container {
    position: relative;
}
  
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.photo-container:hover .website-img {
    opacity: 0.3;
  }
  
.photo-container:hover .overlay {
    opacity: 1;
}
  
.img-text {
    color: black;
    font-size: 25px;
    padding: 16px 32px;
}

.connect-text {
    margin-top: 12rem;
}

#contact-btn {
    margin: 0 auto;
    display: block;
    width: 10rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

  /* FOOTER */
.page-footer {
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
}

.icon {
    margin: .5rem;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1rem;
}

.social-links {
    margin-top: 2rem;
    text-align: center;
}

.jc-logo {
    width: 130px;
    height: 125px;
    margin: 0 auto;
    display: block;
}

.copyright {
    margin-bottom: 2rem;
    text-align: center;
}

/* CONTACT PAGE */
.contact-form {
    margin-top: 5rem;
}

.contact-text {
    margin-top: 0px;
}

.email-me, .call-me {
    font-size: 20px;
    font-weight: bold;
}

.my-photo-contact {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
    width: 415px;
    height: 640px; 
}

/* MEDIA QUERIES */
@media only screen and (max-width: 378px) {
    .tag-line1 {
        font-size: 29px;
    }
    .tag-line2 {
        font-size: 20px;
    }

    .my-photo {
        width: 315px;
        height: 430px;
    }

    #aboutme {
        font-size: 18px;
    }

    .aboutme-text {
        font-size: 16px;
    }

    .focus {
        font-size: 29px;
    }

    .code-text {
        font-size: 16px;
    }

    .projects {
        font-size: 29px;
    }

    .my-photo-contact {
        width: 310px;
        height: 425px;
        margin-left: 0;
    }
}

@media screen and (max-width:768px) {
    .tag-line1 {
        font-size: 29px;
    }
    .tag-line2 {
        font-size: 20px;
    }
    
    .my-photo {
        width: 315px;
        height: 430px;
    }

    #aboutme {
        margin-top: 1rem;
        font-size: 18px;
    }

    .aboutme-text {
        font-size: 16px;
    }

    .focus {
        font-size: 29px;
    }

    .code-text {
        font-size: 16px;
    }

    .projects {
        font-size: 29px;
    }

    .my-photo-contact {
        width: 310px;
        height: 425px;
        margin-left: 2rem;
        margin-top: 8rem;
    }
}