body {
    font-family: 'Nanum Gothic', sans-serif;
}

nav {
    background-color: #eeeeee;
    font-family: 'Nanum Gothic', sans-serif;
}

.material-icons {
    color: #000000;
}

.top-img {
    width: 100%;
    position: relative;
}

/* text inside header photo */
/* .top-left {
    position: absolute;
    top: 14rem;
    left: 5rem;
    font-size: 50px;
    color: rgb(255, 255, 255);
} */

.tag-line1 {
    margin-top: 3rem;
    font-size: 45px;
    font-family: 'Nanum Gothic', sans-serif;
}

.tag-line2 {
    font-size: 35px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #818181;
}

.about-me-container {
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.my-photo {
    width: 415px;
    height: 565px;
}

#aboutme {
    margin-top: 6rem;
    color: black;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
}

.aboutme-text {
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
}

.focus {
    text-align: center;
    margin-top: 5rem;
    font-size: 30px;
}

.code-text {
    font-size: 16px;
}

.keyboard-photo {
    margin-top: 2rem;
}

#resume-btn {
    border-radius: 3px;
    padding: 10px;
}

.resume-container {
    margin-bottom: 6rem;
}

.projects {
    margin-top: 4rem;
    margin-bottom: 10px;
    font-size: 30px;
}

.app-title {
    text-align: center;
    font-size: 18px;
}

.game-img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner {
    padding: 30px;
} 

.links {
    text-align: center;
    color: #000000;
    font-size: 16px;
}

  /* FOOTER */
.page-footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
}

.icon {
    margin: 1rem;
    /* margin-right: .5rem; */
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1rem;
}

.copyright, .social-links {
    text-align: center;
}

/* CONTACT PAGE */
.contact-form {
    margin-top: 5rem;
}

#submit-contact {
    border-radius: 3px;
    padding: 10px;
}

.email-me, .call-me {
    font-size: 20px;
    /* margin-left: 3rem; */
    font-weight: bold;
}

.room {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
}